<h1>Bands Baby Bands</h1>

<%if flash[:deleted_band]%>
<p><%=flash[:deleted_band]%></p>
<br>
<%end%> 

<a href=<%=new_band_url%>>New Band</a>
<br>
<ul>
<%@bands.each do |band|%>
    <li>
    <a href=<%=band_url(band)%> ><%=band.name%></a>
    </li>
<%end%>
</ul>